127.0.0.1       localhost
::1             localhost ip6-localhost ip6-loopback
ff02::1         ip6-allnodes
ff02::2         ip6-allrouter
172.16.133.1 	gestion      	gestion.mordiscos.ovh		gestion.mordiscos.local      	
172.16.133.33	lb-publico-01	lb-publico-01.mordiscos.ovh     lb-publico-01.mordiscos.local
172.16.133.34	lb-publico-02	lb-publico-02.mordiscos.ovh     lb-publico-02.mordiscos.local
172.16.133.35	lb-publico   	lb-publico.mordiscos.ovh        lb-publico.mordiscos.local
172.16.133.200	manager      	manager.mordiscos.ovh           manager.mordiscos.local
172.16.133.201	worker-01    	worker-01.mordiscos.ovh         worker-01.mordiscos.local
172.16.133.202	worker-02    	worker-02.mordiscos.ovh         worker-02.mordiscos.local
172.16.133.10 	lb-privado-01	lb-privado-01.mordiscos.ovh     lb-privado-01.mordiscos.local
172.16.133.11 	lb-privado-02	lb-privado-02.mordiscos.ovh     lb-privado-02.mordiscos.local
172.16.133.12 	lb-privado   	lb-privado.mordiscos.ovh        lb-privado.mordiscos.local
172.16.133.251	db-privado-01	db-privado-01.mordiscos.ovh     db-privado-01.mordiscos.local
172.16.133.252	db-privado-02	db-privado-02.mordiscos.ovh     db-privado-02.mordiscos.local
