Host rebel
	User root
	Port 22
	HostName 172.16.150.1
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host vulcan
	User root
	Port 22
	HostName 172.16.150.2
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host gestion
	User root
	Port 22
	HostName 172.16.133.1
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host worker-01
	User root
	Port 22
	HostName 172.16.133.201
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host worker-02
	User root
	Port 22
	HostName 172.16.133.202
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host manager
	User root
	Port 22
	HostName 172.16.133.200
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host lb-publico-01
	User root
	Port 22
	HostName 172.16.133.33
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host lb-publico-02
	User root
	Port 22
	HostName 172.16.133.34
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host lb-publico
	User root
	Port 22
	HostName 172.16.133.35
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host lb-privado-01
	User root
	Port 22
	HostName 172.16.133.10
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host lb-privado-02
	User root
	Port 22
	HostName 172.16.133.11
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host lb-privado
	User root
	Port 22
	HostName 172.16.133.12
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host db-privado-01
	User root
	Port 22
	HostName 172.16.133.251
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

Host db-privado-02
	User root
	Port 22
	HostName 172.16.133.252
	IdentityFile ~/.auth/id_rsa
	PasswordAuthentication no
	StrictHostKeyChecking no

